<launch>
    <include file="$(find learning_tf)/launch/start_demo1.launch"/>

    <node name="turtle_tf_listener" pkg="learning_tf" type="turtle_tf_listener.py"
          respawn="false" output="screen">
      <param name="leader_tf" type="string" value="/carrot1"/>
    </node>

    <node name="fixed_tf_broadcaster" pkg="learning_tf" type="fixed_tf_broadcaster.py"
          respawn="false" output="screen"/>
  </launch>
